<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>Loading...</h3>
    <form
      name="f1"
      method="post"
      action="http://192.168.0.9:5000/api/customers/paytm/request"
    >
      <!-- OrderID -->
      <input
        type="hidden"
        id="ORDER_ID"
        name="ORDER_ID"
        value="yhugkjbhghjghffgfgknhgbigbkbgg"
      /><br /><br />
      <!-- INDUSTRY_TYPE_ID -->
      <input
        type="hidden"
        id="INDUSTRY_TYPE_ID"
        name="INDUSTRY_TYPE_ID"
        value="Retail"
      /><br /><br />
      <!-- CUST_ID -->
      <input
        type="hidden"
        id="CUST_ID"
        name="CUST_ID"
        value="Omkar123"
      /><br /><br />
      <!-- CHANNEL_ID -->
      <input
        type="hidden"
        id="CHANNEL_ID"
        name="CHANNEL_ID"
        value="WEB"
      /><br /><br />
      <!-- TXN_AMOUNT -->
      <input
        type="hidden"
        id="TXN_AMOUNT"
        name="TXN_AMOUNT"
        value="100"
      /><br /><br />
      <!-- WEBSITE -->
      <input
        type="hidden"
        id="WEBSITE"
        name="WEBSITE"
        value="WEBSTAGING"
      /><br /><br />
      <!-- MID -->
      <input
        type="hidden"
        id="MID"
        name="MID"
        value="sbifUl59659775007708"
      /><br /><br />
      <!-- PAYTM_MERCHANT_KEY -->
      <input
        type="hidden"
        id="PAYTM_MERCHANT_KEY"
        name="PAYTM_MERCHANT_KEY"
        value="7!llhMbRXqXqp&pL"
      /><br /><br />
      <!-- <button type="submit">Submit</button> -->
    </form>
  </body>
</html>
